.mainContainer {
    overflow: hidden;
}

.mainContainer,
.mainContainer * {
    box-sizing: border-box;
}

.mainContainer input,
.mainContainer select,
.mainContainer textarea,
.mainContainer button {
    outline: 0;
}

.mainContainer {
    position: relative;
    width: 1022.741px;
    height: 268.897px;
    margin: 0 auto;
    border-radius: 20px;
}

.pic {
    position: absolute;
    width: 217.094px;
    height: 255.664px;
    top: 0;
    left: 50%;
    transform: translate(-41.63%, 0);
    z-index: 26;
    overflow: hidden;
    border-radius: 20px;
}

.box {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 250.761px;
    height: 120.526px;
    top: 11px;
    left: 124px;
    padding: 15px;
    transform: rotate(7.71deg);
    z-index: 35;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.img {
    border-radius: 50%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}

.text2 {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.wrapper3 {
    display: flex;
    position: absolute;
    top: 140px;
    left: 12px;
    z-index: 30;
}

.wrapper4 {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2 {
    border-radius: 50%;
}

.text3 {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}

.text4 {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.section6 {
    display: flex;
    position: absolute;
    top: 140px;
    left: 250px;
    z-index: 30;
}

.box6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section7 {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.pic6 {
    border-radius: 50%;
}

.group7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text6 {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}

.text7 {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.section8 {
    display: flex;
    position: absolute;
    top: 140px;
    left: 400px;
    z-index: 30;
}

.box8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper8 {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.section9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgA {
    border-radius: 50%;
}

.sectionA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text8 {
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}

.text9 {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}