/* :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
        "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
        "Source Han Sans CN", sans-serif;
}

.main-container {
    overflow: hidden;
}

.main-container,
.main-container * {
    box-sizing: border-box;
}

input,
select,
textarea,
button {
    outline: 0;
}

.main-container {
    position: relative;
    width: 1440px;
    height: 722px;
    margin: 0 auto;
    background: #020102;
    overflow: hidden;
}
.img {
    position: relative;
    width: 1433.018px;
    height: 884.526px;
    margin: -20.345px 0 0 6.982px;
    background: url(../assets/images/0a3d31e4-2657-47e9-828e-d7384522741e.png)
        no-repeat center;
    background-size: cover;
    overflow: visible auto;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 200px;
    height: 37px;
    margin: 70.345px 0 0 43.018px;
    z-index: 16;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 8px;
    position: relative;
    width: 156px;
    height: 37px;
    padding: 10px 15px 10px 15px;
    border: 1.901px solid #ffffff;
    z-index: 16;
    border-radius: 20px;
}
.text {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 20px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 19.98px;
    text-align: left;
    white-space: nowrap;
    z-index: 17;
}
.pic {
    flex-shrink: 0;
    position: relative;
    width: 37px;
    height: 37px;
    background: url(../assets/images/9d1bd2be-cfe8-4479-ab62-b7a6b8f0bf36.png)
        no-repeat center;
    background-size: cover;
    z-index: 15;
}
.group-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    position: relative;
    width: 738px;
    margin: 0 0 0 344.018px;
    z-index: 1;
}
.text-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 738px;
    min-width: 0;
    height: 122px;
    color: #f6f6f6;
    font-family: Inter, var(--default-font-family);
    font-size: 55px;
    font-weight: 600;
    line-height: 61.05px;
    text-align: center;
    letter-spacing: -2.75px;
    z-index: 2;
}
.text-3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 580px;
    height: 57px;
    color: #f6f6f6;
    font-family: Inter, var(--default-font-family);
    font-size: 17px;
    font-weight: 400;
    line-height: 18.87px;
    text-align: center;
    z-index: 3;
}
.box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 33px;
    position: relative;
    width: 1123px;
    margin: 40px 0 0 151.018px;
    z-index: 4;
}
.pic-2 {
    flex-shrink: 0;
    position: relative;
    width: 192px;
    height: 1px;
    background: url(../assets/images/7ce49bf8-8ac8-4058-957a-8e16758e80d5.png)
        no-repeat center;
    background-size: cover;
    z-index: 5;
}
.box-2 {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 673px;
    z-index: 6;
}
.section {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 200px;
    padding: 15px 20px 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 7;
    overflow: hidden;
    border-radius: 37px;
}
.text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 27px;
    height: 14px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    white-space: nowrap;
    z-index: 8;
}
.section-2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 250px;
    padding: 15px 20px 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 9;
    overflow: hidden;
    border-radius: 37px;
}
.text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 108px;
    height: 14px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    white-space: nowrap;
    z-index: 10;
}
.group-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 203px;
    height: 43px;
    padding: 15px 20px 15px 20px;
    background: #ffffff;
    z-index: 11;
    overflow: hidden;
    border-radius: 34px;
}
.text-6 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 62px;
    height: 19px;
    color: #222222;
    font-family: Inter, var(--default-font-family);
    font-size: 17px;
    font-weight: 700;
    line-height: 18.87px;
    text-align: center;
    white-space: nowrap;
    z-index: 12;
}
.pic-3 {
    flex-shrink: 0;
    position: relative;
    width: 192px;
    height: 1px;
    background: url(../assets/images/27a35172-4a10-40b5-806a-bf344ca69953.png)
        no-repeat center;
    background-size: cover;
    z-index: 13;
}
.group-4 {
    position: relative;
    width: 1209px;
    height: 268.897px;
    margin: 40px 0 0 174.018px;
    z-index: 77;
}
.pic-4 {
    position: absolute;
    width: 217.094px;
    height: 255.664px;
    top: 0;
    left: 50%;
    background: url(../assets/images/a1f3694c-2514-4d04-8818-0aa271d2fbc3.png)
        no-repeat center;
    background-size: cover;
    transform: translate(-84.53%, 0);
    z-index: 45;
    overflow: hidden;
    border-radius: 20px;
}
.box-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 250.761px;
    height: 120.526px;
    top: 11px;
    left: 124px;
    padding: 15px 15px 15px 15px;
    transform: rotate(7.71deg);
    z-index: 54;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
}
.box-4 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 38.254px;
    padding: 7px 7px 7px 7px;
    background: #ffffff;
    z-index: 55;
    border-radius: 10px;
}
.section-3 {
    flex-shrink: 0;
    position: relative;
    width: 22.502px;
    height: 22.502px;
    z-index: 56;
    overflow: hidden;
}
.section-4 {
    position: relative;
    width: 20.744px;
    height: 20.744px;
    margin: 0.88px 0 0 0.88px;
    z-index: 57;
}
.img-2 {
    position: absolute;
    width: 101.95%;
    height: 101.71%;
    top: -1.88%;
    left: -0.06%;
    background: url(../assets/images/5bd93512-6c52-4a21-b842-99c98be403b4.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 58;
}
.section-5 {
    flex-shrink: 0;
    position: relative;
    width: 174.076px;
    height: 85.825px;
    z-index: 59;
}
.text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 146.238px;
    height: 38.28px;
    top: 0.03px;
    left: 6.291px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 17px;
    font-weight: 700;
    line-height: 18.87px;
    text-align: left;
    z-index: 60;
}
.text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 171.125px;
    height: 64.024px;
    top: 21.801px;
    left: 0px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 14.43px;
    text-align: left;
    z-index: 61;
}
.wrapper-2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 246.974px;
    height: 106.752px;
    top: 31.238px;
    left: 775.767px;
    padding: 15px 15px 15px 15px;
    transform: rotate(-4.28deg);
    z-index: 70;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
}
.box-5 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 36.444px;
    height: 36.444px;
    padding: 7px 7px 7px 7px;
    background: #ffffff;
    z-index: 71;
    border-radius: 10px;
}
.box-6 {
    flex-shrink: 0;
    position: relative;
    width: 21.672px;
    height: 24.559px;
    z-index: 72;
    overflow: hidden;
}
.img-3 {
    position: relative;
    width: 17.83px;
    height: 21.047px;
    margin: 1.695px 0 0 1.916px;
    background: url(../assets/images/99bee9c0-eb55-4b0c-8b8f-20ae2e28dac8.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 73;
}
.group-5 {
    flex-shrink: 0;
    position: relative;
    width: 170.268px;
    height: 62.334px;
    font-size: 0px;
    z-index: 74;
}
.text-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 142.025px;
    height: 29.478px;
    margin: 1.923px 0 0 0.26px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 17px;
    font-weight: 700;
    line-height: 18.87px;
    text-align: left;
    z-index: 75;
}
.text-a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 168.625px;
    height: 40.395px;
    margin: -9.462px 0 0 1.644px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 14.43px;
    text-align: left;
    text-overflow: initial;
    z-index: 76;
    overflow: hidden;
}
.group-6 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 273px;
    height: 135px;
    top: 67px;
    left: 50%;
    padding: 15px 15px 15px 15px;
    transform: translate(-3.11%, 0);
    z-index: 19;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
}
.section-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 5px;
    position: relative;
    min-width: 0;
    padding: 10px 10px 10px 10px;
    background: #ffffff;
    z-index: 20;
    overflow: hidden;
    border-radius: 10px;
}
.wrapper-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 5px;
    position: relative;
    z-index: 21;
}
.text-b {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 11px;
    color: #222222;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    text-align: left;
    white-space: nowrap;
    z-index: 22;
}
.group-7 {
    flex-shrink: 0;
    position: relative;
    width: 191px;
    height: 14px;
    background: #f0f0f0;
    z-index: 23;
}
.section-7 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 5px;
    position: relative;
    width: 219px;
    z-index: 24;
}
.section-8 {
    position: relative;
    width: 59px;
    height: 6px;
    background: #f0f0f0;
    z-index: 25;
}
.group-8 {
    position: relative;
    width: 42px;
    height: 6px;
    background: #f0f0f0;
    z-index: 29;
}
.section-9 {
    position: relative;
    width: 45px;
    height: 6px;
    background: #f0f0f0;
    z-index: 33;
}
.img-4 {
    position: relative;
    width: 64px;
    height: 6px;
    background: url(../assets/images/cc14f69a-1a04-400d-89d4-3749fac64e50.png)
        no-repeat center;
    background-size: cover;
    z-index: 37;
}
.img-5 {
    position: relative;
    width: 35px;
    height: 6px;
    background: url(../assets/images/f43f9afc-ac2e-40e7-837a-2e75181e10ee.png)
        no-repeat center;
    background-size: cover;
    z-index: 41;
}
.img-6 {
    position: relative;
    width: 68px;
    height: 6px;
    background: url(../assets/images/3eeed93e-7699-41ee-b20a-5321161e61cb.png)
        no-repeat center;
    background-size: cover;
    z-index: 42;
}
.section-a {
    position: relative;
    width: 27px;
    height: 6px;
    background: #f0f0f0;
    z-index: 30;
}
.pic-5 {
    position: relative;
    width: 68px;
    height: 6px;
    background: url(../assets/images/0de8cc77-769c-4a0a-b929-8bee202d56c5.png)
        no-repeat center;
    background-size: cover;
    z-index: 34;
}
.box-7 {
    position: relative;
    width: 29px;
    height: 6px;
    background: #f0f0f0;
    z-index: 26;
}
.pic-6 {
    position: relative;
    width: 34px;
    height: 6px;
    background: url(../assets/images/8896b7cf-e726-4878-96b4-fcfa58531d85.png)
        no-repeat center;
    background-size: cover;
    z-index: 38;
}
.section-b {
    position: relative;
    width: 45px;
    height: 6px;
    background: #f0f0f0;
    z-index: 31;
}
.box-8 {
    position: relative;
    width: 59px;
    height: 6px;
    background: #f0f0f0;
    z-index: 27;
}
.pic-7 {
    position: relative;
    width: 66px;
    height: 6px;
    background: url(../assets/images/e1cc734b-5bd4-4830-b402-667823e00ade.png)
        no-repeat center;
    background-size: cover;
    z-index: 39;
}
.pic-8 {
    position: relative;
    width: 28px;
    height: 6px;
    background: url(../assets/images/de1407b6-467f-47f8-9d91-50559de31214.png)
        no-repeat center;
    background-size: cover;
    z-index: 43;
}
.img-7 {
    position: relative;
    width: 29px;
    height: 6px;
    background: url(../assets/images/1d4944c3-6bb0-4ef8-b1ee-9bc90cf19bda.png)
        no-repeat center;
    background-size: cover;
    z-index: 35;
}
.box-9 {
    position: relative;
    width: 45px;
    height: 6px;
    background: #f0f0f0;
    z-index: 32;
}
.img-8 {
    position: relative;
    width: 49px;
    height: 6px;
    background: url(../assets/images/211023e8-2c7a-4887-9f20-96514ea4af18.png)
        no-repeat center;
    background-size: cover;
    z-index: 44;
}
.pic-9 {
    position: relative;
    width: 42px;
    height: 6px;
    background: url(../assets/images/cbd7beda-4d28-42b8-9f57-66e06047aa2e.png)
        no-repeat center;
    background-size: cover;
    z-index: 36;
}
.group-9 {
    position: relative;
    width: 42px;
    height: 6px;
    background: #f0f0f0;
    z-index: 28;
}
.pic-a {
    position: relative;
    width: 35px;
    height: 6px;
    background: url(../assets/images/9c301200-b266-46f5-aa22-25c13ff0f16d.png)
        no-repeat center;
    background-size: cover;
    z-index: 40;
}
.wrapper-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 249.099px;
    height: 114.129px;
    top: 92px;
    left: 0;
    padding: 15px 15px 15px 15px;
    transform: rotate(-6.11deg);
    z-index: 46;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
}
.section-c {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 37.424px;
    height: 37.424px;
    padding: 7px 7px 7px 7px;
    background: #ffffff;
    z-index: 47;
    border-radius: 10px;
}
.box-a {
    flex-shrink: 0;
    position: relative;
    width: 22.015px;
    height: 22.015px;
    z-index: 48;
    overflow: hidden;
}
.group-a {
    position: relative;
    width: 17.612px;
    height: 17.612px;
    margin: 2.202px 0 0 2.201px;
    z-index: 49;
}
.pic-b {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/0d525cb4-5840-420f-a0e4-a9fd235cb821.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 50;
}
.group-b {
    flex-shrink: 0;
    position: relative;
    width: 172.86px;
    height: 81.4px;
    z-index: 51;
}
.text-c {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 142.221px;
    height: 33.89px;
    top: 2.738px;
    left: 0.26px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 17px;
    font-weight: 700;
    line-height: 18.87px;
    text-align: left;
    z-index: 52;
}
.text-d {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 170.52px;
    height: 59.525px;
    top: 21.875px;
    left: 2.34px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 14.43px;
    text-align: left;
    z-index: 53;
}
.box-b {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 235.799px;
    height: 92.896px;
    top: 176px;
    left: 271px;
    padding: 15px 15px 15px 15px;
    transform: rotate(-0.96deg);
    z-index: 62;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
}
.wrapper-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 34.562px;
    height: 34.562px;
    padding: 7px 7px 7px 7px;
    background: #ffffff;
    z-index: 63;
    border-radius: 10px;
}
.section-d {
    flex-shrink: 0;
    position: relative;
    width: 23.416px;
    height: 25.382px;
    z-index: 64;
    overflow: hidden;
}
.wrapper-6 {
    position: relative;
    width: 23.365px;
    height: 22.382px;
    margin: 1.13px 0 0 -0.01px;
    z-index: 65;
    overflow: visible auto;
}
.pic-c {
    position: relative;
    width: 23.365px;
    height: 22.382px;
    margin: 0px 0 0 0px;
    background: url(../assets/images/e482923b-7f3b-4e49-ac69-4328cb4325e3.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 66;
}
.group-c {
    flex-shrink: 0;
    position: relative;
    width: 161.394px;
    height: 66.757px;
    font-size: 0px;
    z-index: 67;
}
.text-e {
    display: block;
    position: relative;
    height: 21.533px;
    margin: 0.13px 0 0 0.26px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 17px;
    font-weight: 700;
    line-height: 18.87px;
    text-align: left;
    white-space: nowrap;
    z-index: 68;
}
.text-f {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 161.025px;
    height: 44.669px;
    margin: 0.42px 0 0 0.37px;
    color: #ffffff;
    font-family: SF Pro Display, var(--default-font-family);
    font-size: 13px;
    font-weight: 500;
    line-height: 14.43px;
    text-align: left;
    z-index: 69;
}
.group-d {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 5px;
    position: absolute;
    width: 224px;
    height: 35px;
    top: 232px;
    left: 50%;
    padding: 5px 9px 5px 5px;
    background: rgba(255, 255, 255, 0.1);
    transform: translate(169.87%, 0);
    z-index: 77;
    border-radius: 30px;
}
.group-e {
    flex-shrink: 0;
    position: relative;
    width: 25px;
    height: 25px;
    z-index: 78;
    overflow: hidden;
}
.wrapper-7 {
    position: relative;
    width: 20.833px;
    height: 20.831px;
    margin: 2.084px 0 0 2.083px;
    z-index: 79;
}
.img-9 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(../assets/images/b19854d7-11cc-4832-9e2c-d0f34ba3b0b6.png)
        no-repeat center;
    background-size: 100% 100%;
    z-index: 80;
}
.text-10 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 180px;
    height: 14px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 13px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    white-space: nowrap;
    z-index: 81;
} */
.badge{
    display: flex;
    width: 100%;
    justify-content: center;
}
