.button {
  width: 204px;
  height: 44px;
  border-radius: 34px;
  font-size: 1rem;
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
}

.back {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.next {
  background: white;
  color: #222222;
}

.submit {
  background: rgb(255, 255, 255);
  color: #000000;
}

.button:hover:not([disabled]) {
  background: rgba(214, 214, 214, 0.2);
}

.button:disabled {
  cursor: not-allowed;
  background: #d3d3d3;
  color: #777;
}
@media (max-width: 768px) {
  .button {
    width: 50%;
    height: 44px;
    border-radius: 34px;
    font-size: 1rem;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
  }
  
  .back {
    background: rgba(255, 255, 255, 0.1);
    color: white;
  }
  
  .next {
    background: white;
    color: #222222;
  }
  
  .submit {
    background: rgb(255, 255, 255);
    color: #000000;
  }
  
  .button:hover:not([disabled]) {
    background: rgba(214, 214, 214, 0.2);
  }
  
  .button:disabled {
    cursor: not-allowed;
    background: #d3d3d3;
    color: #777;
  }
}
