.headerContainer {
    display: flex;
    justify-content: flex-start; /* Align items to the left on desktop */
    align-items: center; /* Center the contents vertically */
    position: relative;
    width: 100%; /* Full width */
    height: 37px; /* Set height for desktop */
    margin: auto;
    margin-top: 50px; /* Center the header with top margin */
    box-sizing: border-box;
    padding-left: 50px;
    gap: 8px;
}
/* .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
/* Center the header on mobile */
@media (max-width: 768px) {
    .headerContainer {
        justify-content: center; /* Center the items horizontally */
        margin: 20px auto; /* Less margin for mobile */
        height: 20px; /* Set height for mobile */
    }
}

.section {
    display: flex;
    align-items: center; /* Center items vertically */
    gap: 4px; /* Space between text and logo set to 4px */
    padding: 10px 15px; /* Padding for the text section */
    border: 1.901px solid #ffffff; /* Border inside */
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5); /* Optional: Add background for better visibility */
}

.text {
    color: #ffffff;
    font-family: 'Inter';
    font-size: 18px; /* Adjusted font size */
    font-weight: 400;
    line-height: 111%; /* Adjust line-height for better spacing */
    white-space: nowrap; /* Prevent text wrapping */
}

.imgContainer {
    width: 44px;
    height: 44px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .text {
        color: #ffffff;
        font-family: 'Inter';
        font-size: 18px; /* Adjusted font size */
        font-weight: 400;
        /* line-height: 111%; */
        white-space: nowrap; /* Prevent text wrapping */
    }
    .headerContainer{
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding: 25px;
        margin: 0;
        margin-top: 25px;
    }
    .section {
        padding: 10px 16px;
        gap: 8px; /* Maintain padding for mobile */
        width: auto; /* Allow section width to be flexible */
    }

    .text {
        font-size: 14px; /* Adjust font size for mobile */
    }

    .imgContainer {
        width: 39px; /* Adjust image width for mobile */
        height: 39px; /* Adjust image height for mobile */
    }

    .imgContainer img {
        width: 100%; /* Responsive image */
        height: auto; /* Maintain aspect ratio */
    }
}
