.container {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 35px;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  /* align-items: center;  */
  gap: 20px;
  font-family: "Inter", sans-serif;
}

.badgeContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 20px; /* Space between the badge and the rest of the content */
}

.imageContainer {
  width: 100%;
  max-width: 480px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #414ad200;
  display: flex;
  justify-content: center; /* Центрируем изображение */
}

.image {
  width: fit-content;
  height: auto;
  border-radius: 32px;
}

.infoContainer {
  padding: 35px;
  background: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start; /* Выравнивание по левому краю на ПК */
}

.titleContainer {
  flex-direction: column;
  display: flex;
  align-items: flex-start; /* Выравнивание по левому краю на ПК */
  gap: 10px;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 111%; /* 22.2px */
  letter-spacing: -1px;
}

.profession {
  color: black;
  font-size: 40px;
  font-weight: 600;
  line-height: 111%; /* 44.4px */
  letter-spacing: -2px;
  text-align: left;
}

.badge {
  padding: 5px 9px;
  background: #414ad2;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  position: relative;
}

.badgeText {
  text-align: left;
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 14.43px;
}

.descriptionText {
  color: #222222;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 111%;
  word-wrap: break-word;
  text-align: left; /* Выравнивание текста по левому краю на ПК */
}

/* Media queries for smaller screens */
@media (max-width: 600px) {
  .container {
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    padding-top: 16px;
    margin: 16px;
  }
  .infoContainer {
    align-items: center; /* Центрируем содержимое на мобильных */
    text-align: center; /* Центрируем текст на мобильных */
  }
  .titleContainer {
    align-items: center; /* Центрируем заголовок на мобильных */
    gap: 10px;
  }
  .image {
    max-width: 190px;
    max-height: 250px;
    width: 100%;
    border-radius: 20px;
  }
  .title {
    font-size: 18px;
  }

  .profession {
    font-size: 40px;
    text-align: center;
  }

  .descriptionText {
    font-size: 14px;
    text-align: center; /* Центрируем текст на мобильных */
  }
}

/* Media queries for tablet screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 20px;
    flex-direction: column;
  }
  .title {
    font-size: 19px;
  }
  .profession {
    font-size: 35px;
  }
  .image {
    width: 180px;
    height: 220px;
  }
  .descriptionText {
    font-size: 16px;
  }
}

/* Media queries for very small screens (320px) */
@media (max-width: 320px) {
  .container {
    justify-content: center;
    flex-direction: column;
    padding: 5px;
  }
  .imageContainer {
    width: 100%;
    max-width: 150px;
    height: auto;
  }
  .image {
    max-width: 100%;
    max-height: 180px;
  }
  .infoContainer {
    padding: 10px;
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 16px;
  }
  .profession {
    font-size: 24px;
  }
  .badge {
    padding: 3px 7px;
  }
  .badgeIcon {
    width: 16px;
    height: 16px;
  }
  .badgeText {
    font-size: 11px;
  }
  .descriptionText {
    font-size: 12px;
    text-align: center;
  }
}
