.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #27A9FF;
    z-index: -1; /* Убедитесь, что этот элемент находится под другими элементами */
}

/* Адаптивные стили */
@media (max-width: 768px) {
}
