/* MainForm.module.css */
.form {
  display: flex;
  width: 100%;
  flex-direction: column; /* Default to column layout */
  gap: 4px;
  font-family: "Inter";
  align-items: center;
  font-size: 13px;
  color: black;
  padding: 5px;
  border-radius: 32px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0);
  padding-bottom: 100px;
}

.hiddenInput {
  display: none; /* Hide hidden inputs */
}

.errorMessage {
  color: red;
  font-weight: 600;
  text-align: center;
}

.successMessage {
  color: black;
  font-weight: 600;
  text-align: center;
}

.inputContainer {
  display: flex;
  flex-direction: column; /* Change to column by default */
  /* align-items: center;  */
  /* width: 100%; */
  max-width: 480px;
  gap: 8px; /* Space between inputs */
}

.input {
  /* width: 100%; */
  font-size: 18px;
  color: black;
  font-weight: 400;
  padding: 25px 20px;
  border-radius: 70px;
  border: 0 solid #e8e8e8;
  background: #f5f5f5;
  /* max-width: 390px; */
}

.button {
  color: white;
  font-size: 18px;
  /* width: 100%; */
  padding: 25px 20px;
  font-weight: bold;
  border: 0 solid #ffffff20;
  border-radius: 70px;
  background: #e01424;
  cursor: pointer;
  /* max-width: 390px; */
}
.text {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
  /* text-decoration-line: underline; */
}
/* Media query for mobile devices */
@media (min-width: 768px) {
  .form {
    padding-bottom: 64px;
  }
  .inputContainer {
    flex-direction: column; /* Change to row layout for larger screens */
  }
}
