.container {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 35px;
  /* background: white; */
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-family: "Inter", sans-serif;
  
}

.badgeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.imageContainer {
  width: 100%;
  max-width: 480px;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 32px;
  object-fit: cover;
}

.infoContainer {
  position: relative;
  padding: 96px 36px 36px 36px;
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.titleContainer {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: 600;
  line-height: 111%;
  letter-spacing: -1px;
}

.profession {
  color: black;
  font-size: 40px;
  font-weight: 600;
  line-height: 111%;
  letter-spacing: -2px;
  text-align: left;
  z-index: 2;
}

.badge {
  padding: 5px 9px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  z-index: 0;
  left: -32px; /* Настройте отступы */
  top: -32px;
}

.badgeIcon {
  width: 20px;
  height: 20px;
  position: relative;
}

.badgeText {
  text-align: left;
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 14.43px;
}

.descriptionText {
  color: #222222;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 111%;
  word-wrap: break-word;
  text-align: left;
  z-index: 2;
}
.link {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.link:visited {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .link {
  color: inherit;
  text-decoration: none;
}

.link:visited {
  color: inherit;
} */
.instagramIcon{
  margin-right: 12px;
}
.Cta{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .container {
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    margin: 16px;
    gap: 15px;
    background: #E1F3FF;
  }
  .infoContainer {
    padding: 96px 24px 24px 24px;
    align-items: center;
    text-align: center;
  }
  .titleContainer {
    align-items: center;
    gap: 10px;
  }
  .image {
    max-width: 1200px;
    /* max-height: 150px; */
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
  }
  .title {
    font-size: 18px;
  }
  .profession {
    font-size: 40px;
    text-align: left;
  }
  .descriptionText {
    font-size: 14px;
    text-align: left;
  }
  .imageContainer{
    width: auto;
    max-width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    padding: 20px;
    flex-direction: column;
  }
  .title {
    font-size: 19px;
  }
  .profession {
    font-size: 35px;
  }
  .imageContainer {
    width: 100%;
    height: auto;
  }
  .image {
    width: 100%;
    height: auto;
    max-height: 240px;
  }
  .descriptionText {
    font-size: 16px;
  }
}
